<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @student.fname %>
</p>

<p>
  <b>String:</b>
  <%= @student.string %>
</p>

<p>
  <b>Lname:</b>
  <%= @student.lname %>
</p>

<p>
  <b>String:</b>
  <%= @student.string %>
</p>

<p>
  <b>Program:</b>
  <%= @student.program %>
</p>

<p>
  <b>String:</b>
  <%= @student.string %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>String:</b>
  <%= @student.string %>
</p>

<p>
  <b>Password:</b>
  <%= @student.password %>
</p>

<p>
  <b>String:</b>
  <%= @student.string %>
</p>

<p>
  <b>Banned:</b>
  <%= @student.banned %>
</p>

<p>
  <b>Boolean:</b>
  <%= @student.boolean %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
