<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @appointment.student_id %>
</p>

<p>
  <b>Tutor:</b>
  <%= @appointment.tutor_id %>
</p>

<p>
  <b>Tutor:</b>
  <%= @appointment.tutor_fname %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Slot:</b>
  <%= @appointment.slot %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
